# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local development environment files
.env
.env.*
.db-env
.vscode/
.idea/
.DS_Store
logs/
*.log
.farm-frontend-env/
.farm-backend-env/

# Dependency directories
venv/
env/
envs/
ENV/
env.bak/
*.egg-info
dist/
build/
*.egg

# MongoDB files and directories
data/
db/
mongod.lock
mongod.pid
*.log
journal/

# React.js files and directories
node_modules/
build/
dist/
*.env
*.log
